 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1198px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px 0 0 60px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 30px 30px 20px 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-30 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 803px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 246px;
}

.u-section-2 .u-text-1 {
  font-size: 0.875rem;
  margin: 12px 30px 0 59px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 7px 30px 35px 59px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1661px;
}

.u-section-3 .u-text-1 {
  font-size: 0.875rem;
  margin: 11px 30px 0 59px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  margin: 8px 30px 20px 59px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 246px;
}

.u-section-4 .u-text-1 {
  font-size: 0.875rem;
  margin: 12px 30px 0 59px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  margin: 7px 30px 35px 59px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 136px;
}

.u-section-5 .u-text-1 {
  font-size: 0.875rem;
  margin: 12px 30px 0 59px;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  margin: 12px 30px 30px 59px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 158px;
}

.u-section-6 .u-text-1 {
  font-size: 0.875rem;
  margin: 12px 30px 0 60px;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  margin: 12px 30px 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 477px;
}

.u-section-7 .u-text-1 {
  font-size: 0.875rem;
  margin: 12px 30px 0 60px;
}

.u-section-7 .u-text-2 {
  font-size: 0.875rem;
  margin: 12px 30px 19px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 82px;
}

.u-section-8 .u-text-1 {
  font-size: 0.875rem;
  margin: 12px 30px 0 57px;
}

.u-section-8 .u-text-2 {
  font-size: 0.875rem;
  margin: 12px 30px 20px 57px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 192px;
}

.u-section-9 .u-text-1 {
  font-size: 0.875rem;
  margin: 12px 30px 0 60px;
}

.u-section-9 .u-text-2 {
  font-size: 0.875rem;
  margin: 12px 30px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
  }

  .u-section-9 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 915px;
}

.u-section-10 .u-text-1 {
  font-size: 0.875rem;
  margin: 11px 30px 0 59px;
}

.u-section-10 .u-text-2 {
  font-size: 0.875rem;
  margin: 10px 30px 20px 59px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    width: 720px;
  }

  .u-section-10 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    width: 540px;
  }

  .u-section-10 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 673px;
}

.u-section-11 .u-text-1 {
  font-size: 0.875rem;
  margin: 11px 30px 0 59px;
}

.u-section-11 .u-text-2 {
  font-size: 0.875rem;
  margin: 11px 30px 19px 59px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    width: 720px;
  }

  .u-section-11 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    width: 540px;
  }

  .u-section-11 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    width: 340px;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 497px;
}

.u-section-12 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 59px;
}

.u-section-12 .u-text-2 {
  font-size: 0.875rem;
  margin: 11px 30px 20px 59px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    width: 720px;
  }

  .u-section-12 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    width: 540px;
  }

  .u-section-12 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    width: 340px;
  }

  .u-section-12 .u-text-2 {
    width: 340px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 321px;
}

.u-section-13 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 59px;
}

.u-section-13 .u-text-2 {
  font-size: 0.875rem;
  margin: 11px 30px 20px 59px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    width: 720px;
  }

  .u-section-13 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    width: 540px;
  }

  .u-section-13 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    width: 340px;
  }

  .u-section-13 .u-text-2 {
    width: 340px;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 519px;
}

.u-section-14 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 59px;
}

.u-section-14 .u-text-2 {
  font-size: 0.875rem;
  margin: 10px 30px 21px 59px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-text-1 {
    width: 720px;
  }

  .u-section-14 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-text-1 {
    width: 540px;
  }

  .u-section-14 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-text-1 {
    width: 340px;
  }

  .u-section-14 .u-text-2 {
    width: 340px;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 365px;
}

.u-section-15 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 58px;
}

.u-section-15 .u-text-2 {
  font-size: 0.875rem;
  margin: 11px 30px 20px 58px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-15 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-text-1 {
    width: 720px;
  }

  .u-section-15 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-text-1 {
    width: 540px;
  }

  .u-section-15 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-text-1 {
    width: 340px;
  }

  .u-section-15 .u-text-2 {
    width: 340px;
  }
} .u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 187px;
}

.u-section-16 .u-text-1 {
  font-size: 0.875rem;
  margin: 11px 30px 0 60px;
}

.u-section-16 .u-text-2 {
  font-size: 0.875rem;
  margin: 11px 30px 17px 60px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-16 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-text-1 {
    width: 720px;
  }

  .u-section-16 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-text-1 {
    width: 540px;
  }

  .u-section-16 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-text-1 {
    width: 340px;
  }

  .u-section-16 .u-text-2 {
    width: 340px;
  }
} .u-section-17 {
  background-image: none;
}

.u-section-17 .u-sheet-1 {
  min-height: 168px;
}

.u-section-17 .u-text-1 {
  font-size: 0.875rem;
  margin: 11px 30px 0 60px;
}

.u-section-17 .u-text-2 {
  font-size: 0.875rem;
  margin: 11px 30px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-17 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-17 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-text-1 {
    width: 720px;
  }

  .u-section-17 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-text-1 {
    width: 540px;
  }

  .u-section-17 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-text-1 {
    width: 340px;
  }

  .u-section-17 .u-text-2 {
    width: 340px;
  }
} .u-section-18 {
  background-image: none;
}

.u-section-18 .u-sheet-1 {
  min-height: 872px;
}

.u-section-18 .u-text-1 {
  font-size: 0.875rem;
  margin: 11px 30px 0 60px;
}

.u-section-18 .u-text-2 {
  font-size: 0.875rem;
  margin: 11px 30px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-18 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-18 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-text-1 {
    width: 720px;
  }

  .u-section-18 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-text-1 {
    width: 540px;
  }

  .u-section-18 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-text-1 {
    width: 340px;
  }

  .u-section-18 .u-text-2 {
    width: 340px;
  }
} .u-section-19 {
  background-image: none;
}

.u-section-19 .u-sheet-1 {
  min-height: 278px;
}

.u-section-19 .u-text-1 {
  font-size: 0.875rem;
  margin: 11px 30px 0 60px;
}

.u-section-19 .u-text-2 {
  font-size: 0.875rem;
  margin: 11px 30px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-19 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-19 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-19 .u-text-1 {
    width: 720px;
  }

  .u-section-19 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-19 .u-text-1 {
    width: 540px;
  }

  .u-section-19 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-text-1 {
    width: 340px;
  }

  .u-section-19 .u-text-2 {
    width: 340px;
  }
} .u-section-20 {
  background-image: none;
}

.u-section-20 .u-sheet-1 {
  min-height: 256px;
}

.u-section-20 .u-text-1 {
  font-size: 0.875rem;
  margin: 11px 30px 0 60px;
}

.u-section-20 .u-text-2 {
  font-size: 0.875rem;
  margin: 11px 30px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-20 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-20 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-text-1 {
    width: 720px;
  }

  .u-section-20 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-20 .u-text-1 {
    width: 540px;
  }

  .u-section-20 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-text-1 {
    width: 340px;
  }

  .u-section-20 .u-text-2 {
    width: 340px;
  }
} .u-section-21 {
  background-image: none;
}

.u-section-21 .u-sheet-1 {
  min-height: 142px;
}

.u-section-21 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 60px;
}

.u-section-21 .u-text-2 {
  font-size: 0.875rem;
  margin: 10px 30px 18px 60px;
}

@media (max-width: 1199px) {
  .u-section-21 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-21 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-21 .u-text-1 {
    width: 720px;
  }

  .u-section-21 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-text-1 {
    width: 540px;
  }

  .u-section-21 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-text-1 {
    width: 340px;
  }

  .u-section-21 .u-text-2 {
    width: 340px;
  }
} .u-section-22 {
  background-image: none;
}

.u-section-22 .u-sheet-1 {
  min-height: 560px;
}

.u-section-22 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 60px;
}

.u-section-22 .u-text-2 {
  font-size: 0.875rem;
  margin: 8px 30px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-22 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-22 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-22 .u-text-1 {
    width: 720px;
  }

  .u-section-22 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-22 .u-text-1 {
    width: 540px;
  }

  .u-section-22 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-text-1 {
    width: 340px;
  }

  .u-section-22 .u-text-2 {
    width: 340px;
  }
} .u-section-23 {
  background-image: none;
}

.u-section-23 .u-sheet-1 {
  min-height: 122px;
}

.u-section-23 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 60px;
}

.u-section-23 .u-text-2 {
  font-size: 0.875rem;
  margin: 10px 30px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-23 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-23 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-23 .u-text-1 {
    width: 720px;
  }

  .u-section-23 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-23 .u-text-1 {
    width: 540px;
  }

  .u-section-23 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-23 .u-text-1 {
    width: 340px;
  }

  .u-section-23 .u-text-2 {
    width: 340px;
  }
} .u-section-24 {
  background-image: none;
}

.u-section-24 .u-sheet-1 {
  min-height: 384px;
}

.u-section-24 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 60px;
}

.u-section-24 .u-text-2 {
  font-size: 0.875rem;
  margin: 10px 30px 18px 60px;
}

@media (max-width: 1199px) {
  .u-section-24 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-24 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-24 .u-text-1 {
    width: 720px;
  }

  .u-section-24 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-24 .u-text-1 {
    width: 540px;
  }

  .u-section-24 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-24 .u-text-1 {
    width: 340px;
  }

  .u-section-24 .u-text-2 {
    width: 340px;
  }
} .u-section-25 {
  background-image: none;
}

.u-section-25 .u-sheet-1 {
  min-height: 208px;
}

.u-section-25 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 59px;
}

.u-section-25 .u-text-2 {
  font-size: 0.875rem;
  margin: 10px 26px 18px 59px;
}

@media (max-width: 1199px) {
  .u-section-25 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-25 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-25 .u-text-1 {
    width: 720px;
  }

  .u-section-25 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-25 .u-text-1 {
    width: 540px;
  }

  .u-section-25 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-25 .u-text-1 {
    width: 340px;
  }

  .u-section-25 .u-text-2 {
    width: 340px;
  }
} .u-section-26 {
  background-image: none;
}

.u-section-26 .u-sheet-1 {
  min-height: 211px;
}

.u-section-26 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 60px;
}

.u-section-26 .u-text-2 {
  font-size: 0.875rem;
  margin: 8px 30px 24px 60px;
}

@media (max-width: 1199px) {
  .u-section-26 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-26 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-26 .u-text-1 {
    width: 720px;
  }

  .u-section-26 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-26 .u-text-1 {
    width: 540px;
  }

  .u-section-26 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-26 .u-text-1 {
    width: 340px;
  }

  .u-section-26 .u-text-2 {
    width: 340px;
  }
} .u-section-27 {
  background-image: none;
}

.u-section-27 .u-sheet-1 {
  min-height: 145px;
}

.u-section-27 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 60px;
}

.u-section-27 .u-text-2 {
  font-size: 0.875rem;
  margin: 8px 30px 24px 60px;
}

@media (max-width: 1199px) {
  .u-section-27 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-27 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-27 .u-text-1 {
    width: 720px;
  }

  .u-section-27 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-27 .u-text-1 {
    width: 540px;
  }

  .u-section-27 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-27 .u-text-1 {
    width: 340px;
  }

  .u-section-27 .u-text-2 {
    width: 340px;
  }
} .u-section-28 {
  background-image: none;
}

.u-section-28 .u-sheet-1 {
  min-height: 192px;
}

.u-section-28 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 60px;
}

.u-section-28 .u-text-2 {
  font-size: 0.875rem;
  margin: 8px 30px 27px 60px;
}

@media (max-width: 1199px) {
  .u-section-28 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-28 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-28 .u-text-1 {
    width: 720px;
  }

  .u-section-28 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-28 .u-text-1 {
    width: 540px;
  }

  .u-section-28 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-28 .u-text-1 {
    width: 340px;
  }

  .u-section-28 .u-text-2 {
    width: 340px;
  }
} .u-section-29 {
  background-image: none;
}

.u-section-29 .u-sheet-1 {
  min-height: 121px;
}

.u-section-29 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 59px;
}

.u-section-29 .u-text-2 {
  font-size: 0.875rem;
  margin: 9px 30px 21px 59px;
}

@media (max-width: 1199px) {
  .u-section-29 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-29 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-29 .u-text-1 {
    width: 720px;
  }

  .u-section-29 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-29 .u-text-1 {
    width: 540px;
  }

  .u-section-29 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-29 .u-text-1 {
    width: 340px;
  }

  .u-section-29 .u-text-2 {
    width: 340px;
  }
} .u-section-30 {
  background-image: none;
}

.u-section-30 .u-sheet-1 {
  min-height: 253px;
}

.u-section-30 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 58px;
}

.u-section-30 .u-text-2 {
  font-size: 0.875rem;
  margin: 9px 30px 21px 58px;
}

@media (max-width: 1199px) {
  .u-section-30 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-30 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-30 .u-text-1 {
    width: 720px;
  }

  .u-section-30 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-30 .u-text-1 {
    width: 540px;
  }

  .u-section-30 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-30 .u-text-1 {
    width: 340px;
  }

  .u-section-30 .u-text-2 {
    width: 340px;
  }
} .u-section-31 {
  background-image: none;
}

.u-section-31 .u-sheet-1 {
  min-height: 93px;
}

.u-section-31 .u-text-1 {
  font-size: 0.875rem;
  margin: 10px 30px 0 60px;
}

.u-section-31 .u-text-2 {
  font-size: 0.875rem;
  margin: 10px 30px 36px 60px;
}

@media (max-width: 1199px) {
  .u-section-31 .u-text-1 {
    font-weight: normal;
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-31 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-31 .u-text-1 {
    width: 720px;
  }

  .u-section-31 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-31 .u-text-1 {
    width: 540px;
  }

  .u-section-31 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-31 .u-text-1 {
    width: 340px;
  }

  .u-section-31 .u-text-2 {
    width: 340px;
  }
}